{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 120,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "organizeImportsSkipDestructiveCodeActions": true,
  "plugins": ["prettier-plugin-organize-imports"],
  "pluginSearchDirs": false
}
